<div id="form-container">

  <%= form_for(@submission, url: @form_path) do |f| %>

    <div class="field-container">
      <div class="field"><span class="form-num">1.</span> <%= f.text_field :date, :placeholder => 'Enter today\'s date' %></div>
    </div>

    <div class="field-container">
      <div class="field"><span class="form-num">2.</span> <%= f.text_field :location, class: 'location-field' %></div>
    </div>

    <div class="field-container"> 
      <div class="label"><span class="form-num">3.</span> How are you feeling today? (To select multiple, hold down the ⌘ button).</div>
      <div class="emotion_list"><%= f.select(:feeling, [['Angry/frustrated', 'Angry/frustrated'], ['Anxious', 'Anxious'], ['Helpless', 'Helpless'], ['Humiliated', 'Humiliated'], ['Sad/upset/depressed', 'Sad/upset/depressed'], ['Stressed', 'Stressed'], ['Undervalued', 'Undervalued']], {}, { :multiple => true, :size => 5} ) %></div>
      </div>

    <div class="field-container">
      <div class="label"><span class="form-num">4.</span> Who are you experiencing conflict with?</div>
      <div class="conflict_list"><%= f.select(:conflict, options_for_select(['Myself','My partner','My parents', 'Sibling', 'Other family member','Friend or acquaintance','Stranger','Colleague or coworker', 'Other'], @submission.conflict), include_blank: true ) %></div>
    </div>

    <div class="field-container">
      <div class="label"><span class="form-num">5.</span> Write a letter to anyone you'd like. When you're ready, click email to send it to yourself.</div>
      <div class="letter"><%= f.text_area :letter %></div>
    </div>

    <div class="field-container">
      <%= f.submit 'Submit', class: 'submit-btn' %>
    </div>

  <% end %>

</div>