<div id="dashboard-logo">Take a Breather</div>

<div id="main-container">

  <div id="circle-container">
    <div id="circle1">
      <div class="circle-star" style="color: #c8995a">&#10036;</div>
      <div class="circle-text"><%= link_to "Share", new_user_submission_path(current_user), class: "link" %></div>
      <div class="circle-info">Create new entry</div>
    </div>
    <div class="greyed">
      <div class="circle-star">&#10036;</div>
      <div class="circle-text-greyed"><%= link_to "Reflect", user_submissions_path(current_user), class: "circle-text-greyed" %></div>
      <div class="circle-info">View past entries</div>
    </div>
    <div class="greyed">
      <div class="circle-star">&#10036;</div>
      <div class="circle-text-greyed"><%= link_to "Connect", connect_path, class: "circle-text-greyed" %></div>
      <div class="circle-info">Find resources</div>
    </div>
  </div>

  <div id="display-container-pink">
    <%= link_to 'X', root_path, class: 'home-link' %>
    <%= render :partial => 'form' %>
  </div>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC3oUAlkb1W-g1FW-V_P0SfvbnMsiwLe98&signed_in=true&libraries=places&callback=initMap" %>
</div>